<div>


            <p>
                Fill information of the new phone:

            </p>
<p>1) Phone-list:</p>

    <p>age:
        <label>
            <input name="myName1" ng-model="myName1" required type="number"  min="0" max="100"  ng-change="myFunc1()" ng-style="myDefaultColor1">
        </label>
    </p>

    <p>carrier:
        <label>
            <input name="myName2" ng-model="myName2" required ng-change="myFunc2()" ng-style="myDefaultColor2">
        </label>
    </p>

    <p>id:
        <label>
            <input name="myName3" ng-model="myName3" required ng-change="myFunc3()" ng-style="myDefaultColor3">
        </label>
    </p>

    <p>imageUrl:
        <label>
            <input name="myName4" ng-model="myName4" required ng-change="myFunc4()" ng-style="myDefaultColor4">
        </label>
    </p>

    <p>name:
        <label>
            <input name="myName5" ng-model="myName5" required ng-change="myFunc5()" ng-style="myDefaultColor5">
        </label>
    </p>

    <p>snippet:
        <label>
            <input name="myName6" ng-model="myName6" required ng-change="myFunc6()" ng-style="myDefaultColor6">
        </label>
    </p>

    <p>phonedetail_id:
        <label>
            <input name="myName7" ng-model="myName7" required ng-change="myFunc7()" ng-style="myDefaultColor7">
        </label>
    </p>


    <p>2) Phone-detail: </p>

    <p>additionalFeatures:
        <label>
            <input name="myName8" ng-model="myName8" required ng-change="myFunc8()" ng-style="myDefaultColor8">
        </label>
    </p>

    <p><b>android:</b></p>
    <p><i>os:</i></p>
    <p>
        <label>
            <input name="myName9" ng-model="myName9" required ng-change="myFunc9()" ng-style="myDefaultColor9">
        </label>
    </p>
    <p><i>ui:</i></p>
    <p>
    <label>
        <input name="my1Name9" ng-model="my1Name9" required ng-change="my1Func9()" ng-style="my1DefaultColor9">
    </label>
    </p>

    <p>availability:
        <label>
            <input name="myName10" ng-model="myName10" required ng-change="myFunc10()" ng-style="myDefaultColor10">
        </label>
    </p>

    <p><b>battery:</b></p>
    <p><i>standbyTime:</i></p>
    <p>
        <label>
            <input name="myName11" ng-model="myName11" required ng-change="myFunc11()" ng-style="myDefaultColor11">
        </label>
    </p>
    <p><i>talkTime:</i></p>
    <p>
        <label>
            <input name="my2Name11" ng-model="my2Name11" required ng-change="my2Func11()" ng-style="my2DefaultColor11">
        </label>
    </p>
    <p><i>type:</i></p>
    <p>
        <label>
            <input name="my3Name11" ng-model="my3Name11" required ng-change="my3Func11()" ng-style="my3DefaultColor11">
        </label>
    </p>

    <p><b>camera:</b></p>
    <p><i>features:</i></p>
    <p>
        <label>
            <input name="myName12" ng-model="myName12" required ng-change="myFunc12()" ng-style="myDefaultColor12">
        </label>
    </p>
    <p><i>primary:</i></p>
    <p>
        <label>
            <input name="my4Name12" ng-model="my4Name12" required ng-change="my4Func12()" ng-style="my4DefaultColor12">
        </label>
    </p>

    <p><b>connectivity:</b></p>
    <p><i>bluetooth:</i></p>
    <p>
        <label>
            <input name="myName13" ng-model="myName13" required ng-change="myFunc13()" ng-style="myDefaultColor13">
        </label>
    </p>
    <p><i>cell:</i></p>
    <p>
    <label>
        <input name="my5Name13" ng-model="my5Name13" required ng-change="my5Func13()" ng-style="my5DefaultColor13">
    </label>
    </p>
    <p><i>gps:</i></p>
    <p>
    <label>
        <input name="my6Name13" ng-model="my6Name13" required type="checkbox" checked>
    </label>
    </p>
    <p><i>infrared:</i></p>
    <p>
    <label>
        <input name="my7Name13" ng-model="my7Name13" required type="checkbox" checked>
    </label>
    </p>
    <p><i>wifi:</i></p>
    <p>
    <label>
        <input name="my8Name13" ng-model="my8Name13" required ng-change="my8Func13()" ng-style="my8DefaultColor13">
    </label>
    </p>

    <p>description:
        <label>
            <input name="myName14" ng-model="myName14" required ng-change="myFunc14()" ng-style="myDefaultColor14">
        </label>
    </p>

    <p><b>display:</b></p>
    <p><i>screenResolution:</i></p>
    <p>
        <label>
            <input name="myName15" ng-model="myName15" required>
        </label>
    </p>
    <p><i>screenSize:</i></p>
    <p>
    <label>
        <input name="my9Name15" ng-model="my9Name15" required>
    </label>
    </p>
    <p><i>touchScreen:</i></p>
    <p>
    <label>
        <input name="my10Name15" ng-model="my10Name15" required type="checkbox" checked>
    </label>
    </p>

    <p><b>hardware:</b></p>
    <p><i>accelerometer:</i></p>
    <p>
        <label>
            <input name="myName16" ng-model="myName16" required type="checkbox" checked>
        </label>
    </p>
    <p><i>audioJack:</i></p>
    <p>
        <label>
            <input name="my11Name16" ng-model="my11Name16" required>
        </label>
    </p>
    <p><i>cpu:</i></p>
    <p>
        <label>
            <input name="my12Name16" ng-model="my12Name16" required>
        </label>
    </p>
    <p><i>fmRadio:</i></p>
    <p>
        <label>
            <input name="my13Name16" ng-model="my13Name16" required type="checkbox" checked>
        </label>
    </p>
    <p><i>physicalKeyboard:</i></p>
    <p>
        <label>
            <input name="my14Name16" ng-model="my14Name16" required type="checkbox" checked>
        </label>
    </p>
    <p><i>usb:</i></p>
    <p>
        <label>
            <input name="my15Name16" ng-model="my15Name16" required>
        </label>
    </p>

    <p>id:
        <label>
            <input name="myName17" ng-model="myName17" required>
        </label>
    </p>

    <p>images:
        <label>
            <input name="myName18" ng-model="myName18" required>
        </label>
    </p>

    <p>name:
        <label>
            <input name="myName19" ng-model="myName19" required ng-change="myFunc19()" ng-style="myDefaultColor19">
        </label>
    </p>

    <p><b>sizeAndWeight:</b></p>
    <p><i>dimensions:</i></p>
    <p>
        <label>
            <input name="myName20" ng-model="myName20" required>
        </label>
    </p>
    <p><i>weight:</i></p>
    <p>
        <label>
            <input name="my16Name20" ng-model="my16Name20" required>
        </label>
    </p>

    <p><b>storage:</b></p>
    <p><i>flash:</i></p>
    <p>
        <label>
            <input name="myName21" ng-model="myName21" required>
        </label>
    </p>
    <p><i>ram:</i></p>
    <p>
        <label>
            <input name="my17Name21" ng-model="my17Name21" required>
        </label>
    </p>

    <!--<button >Add phone</button> <!-- add()-->
    <button ng-click="add()">Add phone</button>

</div>
