<div>
    <p>
        Fill information of the new phone:
    </p>

    <p>1) Phone-list:</p>

    <p>age:
        <label>
            <input name="myName1" ng-model="myName1" required type="number" min="0" max="100" ng-change="myFunc1()"
                   ng-style="myDefaultColor1">
        </label>
    </p>

    <p>carrier:
        <label>
            <input name="myName2" ng-model="myName2" required ng-change="myFunc2()" ng-style="myDefaultColor2">
        </label>
    </p>

    <p>name:
        <label>
            <input name="myName5" ng-model="myName5" required ng-change="myFunc5()" ng-style="myDefaultColor5">
        </label>
    </p>

    <p>snippet:
        <label>
            <input name="myName6" ng-model="myName6" required ng-change="myFunc6()" ng-style="myDefaultColor6">
        </label>
    </p>

    <p>2) Phone-detail: </p>

    <p>additionalFeatures:
        <label>
            <input name="myName8" ng-model="myName8" required ng-change="myFunc8()" ng-style="myDefaultColor8">
        </label>
    </p>

    <p><b>android:</b></p>
    <p><i>os:</i></p>
    <p>
        <label>
            <select name="myName9" ng-model="myName9">
                <option value='0' ng-selected="true">Android 2.1</option>
                <option value='1'>Android 2.2</option>
                <option value='2'>Android 2.3</option>
                <option value='3'>Android 3.0</option>
            </select>
        </label>

    </p>
    <p><i>ui:</i></p>
    <p>
        <label>
            <input name="my1Name9" ng-model="my1Name9" required ng-change="my1Func9()" ng-style="my1DefaultColor9">
        </label>
    </p>

    <p>availability:
        <label><input name="myName10" type="checkbox" value='1111'> Verizon </label>
        <label><input name="myName10" type="checkbox" value='2222'>AT&T </label>
        <label><input name="myName10" type="checkbox" value='3333'>T-Mobile </label>
        <label><input name="myName10" type="checkbox" value='4444'>Cellular South</label>
        <label><input name="myName10" type="checkbox" value='5555'>KT </label>
        <label><input name="myName10" type="checkbox" value='7777'>Sprint </label>
        <label><input name="myName10" type="checkbox" value='8888'>US Cellular </label>
        <label><input name="myName10" type="checkbox" value='9999'>Telus </label>
        <label><input name="myName10" type="checkbox" value='1122'>M1 </label>
        <label><input name="myName10" type="checkbox" value='1133'>O2 </label>
        <label><input name="myName10" type="checkbox" value='1144'>Orange </label>
        <label><input name="myName10" type="checkbox" value='1155'>Singtel </label>
        <label><input name="myName10" type="checkbox" value='1166'>StarHub </label>
        <label><input name="myName10" type="checkbox" value='1177'>T-Mobile </label>
        <label><input name="myName10" type="checkbox" value='1188'>Vodafone </label>
        <label><input name="myName10" type="checkbox" value='1199'>SFR </label>
    </p>

    <p><b>battery:</b></p>
    <p><i>standbyTime:</i></p>
    <p>
        <label>
            <input name="myName11" ng-model="myName11" required ng-change="myFunc11()" ng-style="myDefaultColor11">
        </label>
    </p>
    <p><i>talkTime:</i></p>
    <p>
        <label>
            <input name="my2Name11" ng-model="my2Name11" required ng-change="my2Func11()" ng-style="my2DefaultColor11">
        </label>
    </p>
    <p><i>type:</i></p>
    <p>
        <label>
            <input name="my3Name11" ng-model="my3Name11" required ng-change="my3Func11()" ng-style="my3DefaultColor11">
        </label>
    </p>

    <p><b>camera:</b></p>
    <p><i>features:</i></p>
    <p>
        <label>
            <select name="myName12" ng-model="myName12">
                <option value='Flash' ng-selected="true"> Flash</option>
                <option value='Video'>Video</option>
                <option value=''> -</option>
                <option value='Flash, Video'> Flash, Video</option>
            </select>
        </label>
    </p>
    <p><i>primary:</i></p>
    <p>
        <label>
            <select name="my4Name12" ng-model="my4Name12">
                <option value='0'> -</option>
                <option value='1' ng-selected="true">3.0 megapixels</option>
                <option value='2'>3.2 megapixels</option>
                <option value='3'>5.0 megapixels</option>
                <option value='4'>8.0 megapixels</option>
            </select>
        </label>
    </p>

    <p><b>connectivity:</b></p>
    <p><i>bluetooth:</i></p>
    <p>
        <label>
            <select name="myName13" ng-model="myName13">
                <option value='0' ng-selected="true">Bluetooth 2.1</option>
                <option value='1'>Bluetooth 2.0</option>
                <option value='2'>Bluetooth 3.0</option>
            </select>
        </label>
    </p>
    <p><i>cell:</i></p>
    <p>
        <label>
            <input name="my5Name13" ng-model="my5Name13" required ng-change="my5Func13()" ng-style="my5DefaultColor13">
        </label>
    </p>
    <p><i>gps:</i></p>
    <p>
        <label>
            <input name="my6Name13" ng-model="my6Name13" required type="checkbox" checked>
        </label>
    </p>
    <p><i>infrared:</i></p>
    <p>
        <label>
            <input name="my7Name13" ng-model="my7Name13" required type="checkbox" checked>
        </label>
    </p>
    <p><i>wifi:</i></p>
    <p>
        <label>
            <select name="my8Name13" ng-model="my8Name13">
                <option value='0' ng-selected="true">802.11 b/g</option>
                <option value='1'>802.11 b/g/n</option>
                <option value='2'>802.11 a/b/g/n</option>
            </select>
        </label>
    </p>

    <p>description:
        <label>
            <input name="myName14" ng-model="myName14" required ng-change="myFunc14()" ng-style="myDefaultColor14">
        </label>
    </p>

    <p><b>display:</b></p>
    <p><i>screenResolution:</i></p>
    <p>
        <label>
            <input name="myName15" ng-model="myName15" required ng-change="myFunc15()" ng-style="myDefaultColor15">
        </label>
    </p>
    <p><i>screenSize:</i></p>
    <p>
        <label>
            <input name="my9Name15" ng-model="my9Name15" required ng-change="my9Func15()" ng-style="my9DefaultColor15">
        </label>
    </p>
    <p><i>touchScreen:</i></p>
    <p>
        <label>
            <input name="my10Name15" ng-model="my10Name15" required type="checkbox" checked>
        </label>
    </p>

    <p><b>hardware:</b></p>
    <p><i>accelerometer:</i></p>
    <p>
        <label>
            <input name="myName16" ng-model="myName16" required type="checkbox" checked>
        </label>
    </p>
    <p><i>audioJack:</i></p>
    <p>
        <label>
            <select name="my11Name16" ng-model="my11Name16">
                <option value='0' ng-selected="true"> -</option>
                <option value='1'>3.5mm</option>
            </select>
        </label>
    </p>
    <p><i>cpu:</i></p>
    <p>
        <label>
            <input name="my12Name16" ng-model="my12Name16" required ng-change="my12Func16()"
                   ng-style="my12DefaultColor16">
        </label>
    </p>
    <p><i>fmRadio:</i></p>
    <p>
        <label>
            <input name="my13Name16" ng-model="my13Name16" required type="checkbox" checked>
        </label>
    </p>
    <p><i>physicalKeyboard:</i></p>
    <p>
        <label>
            <input name="my14Name16" ng-model="my14Name16" required type="checkbox" checked>
        </label>
    </p>
    <p><i>usb:</i></p>
    <p>
        <label>
            <select name="my11Name16" ng-model="my11Name16">
                <option value='0' ng-selected="true">USB 2.0</option>
            </select>
        </label>

    </p>

    <p>images:
        <label>
            <input name="myName18" ng-model="myName18" required value="Images will be automatically generated">
        </label>
    </p>

    <p>name:
        <label>
            <input name="myName19" ng-model="myName19" required ng-change="myFunc19()" ng-style="myDefaultColor19">
        </label>
    </p>

    <p><b>sizeAndWeight:</b></p>
    <p><i>dimensions:</i></p>
    <p>
        <label>
            <input name="myName20" ng-model="myName20" required ng-change="myFunc20()" ng-style="myDefaultColor20">
        </label>
        <label>
            <input name="my16Name20" ng-model="my16Name20" required ng-change="my16Func20()"
                   ng-style="my16DefaultColor20">
        </label>
        <label>
            <input name="my17Name20" ng-model="my17Name20" required ng-change="my17Func20()"
                   ng-style="my17DefaultColor20">
        </label>
    </p>
    <p><i>weight:</i></p>
    <p>
        <label>
            <input name="my18Name20" ng-model="my18Name20" required ng-change="my18Func20()"
                   ng-style="my18DefaultColor20">
        </label>
    </p>

    <p><b>storage:</b></p>
    <p><i>flash:</i></p>
    <p>
        <label>
            <input name="myName21" ng-model="myName21" required ng-change="myFunc21()" ng-style="myDefaultColor21">
        </label>
    </p>
    <p><i>ram:</i></p>
    <p>
        <label>
            <input name="my19Name21" ng-model="my19Name21" required ng-change="my19Func21()"
                   ng-style="my19DefaultColor21">
        </label>
    </p>

    <button ng-click="add()">Add phone</button>

</div>